/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  margin: 33px;
  color: #333;
  font-size: 13px;
}

h1, h2{
  line-height: 18px;
}

p, ol, ul, td {
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

a{
  color: #666;
}

th{
  padding-bottom: 5px;
}

td{
  padding: 0 5px 7px;
}

label{
  display: block;
}

.field, .submit{
  margin-bottom: 10px;
}

#notice{
  color: green;
}

#error{
  width: 450px;
  border: 2px solid red;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}

#error h2{
  font-size: 12px;
  color: white;
  padding: 5px 5px 5px 15px;
  background-color: red;
  margin-top: 0;
}

.field_with_errors{
  display: flex;
}

.field_with_errors label{
  background-color: red;
  padding: 2px 3px 0;
  color: white;
}

.field_with_errors input, .field_with_errors textarea{
  border: 3px solid red;
}